/* Global */

:root {
  --main-bkg-highlight: #2C2C2C;
  --main-bkg: #D5D5D5;
  --main-button: #12546A;
  --main-button-hover: #1c6b85;

  /* Articles */
  --color-article-bkg: rgb(63, 63, 63);
  --color-article-engineer: rgb(115, 199, 67);
  --color-article-guest: rgb(241, 122, 82);
  --color-article-media: #aa360f;
  --color-article-programer: #356b7e;
  --color-article-news: #21b7e9;
  --color-article-default: rgb(146, 146, 146);
  --color-article-use: var(--color-article-default);

  --color-htmlBackground: rgb(48, 48, 48);
  --color-htmlText: rgb(221, 216, 216);
  --color-aNotClicked: rgb(46, 182, 216);
  --color-aHover: rgb(66, 201, 235);
  --color-aClicked: rgb(28, 140, 168);
}

/* :root {
    --main-bkg-highlight: #2C2C2C;
    --main-bkg: #D5D5D5;
    --main-button: #12546A;
    --main-button-hover: #0c4355;
    --main-special-blue: #5CC0E1;
    // building
    --transparent-black-bkg: rgba(0, 0, 0, 0.3);
    --white: white;
    --footer: rgba(51, 51, 51, 1);
    // Articles
    --color-article-bkg: rgb(235, 235, 235);
    --color-article-engineer: rgb(92, 166, 48);
    --color-article-guest: rgb(225, 125, 92);
    --color-article-media: #6A2812;
    --color-article-programer: #12546A;
    --color-article-news: #5CC0E1;
    --color-article-default: rgb(160, 160, 160);
    --color-article-use: var(--color-article-default);

    --color-transparent: rgba(255, 255, 255, 0);

    --color-htmlBackground: white;
    --color-htmlText: rgb(32, 31, 31);
    --color-aNotClicked: rgb(5, 85, 105);
    --color-aHover: rgb(12, 100, 122);
    --color-aClicked: rgb(5, 58, 71);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bkg-highlight: #2C2C2C;
        --main-bkg: #D5D5D5;
        --main-button: #12546A;
        --main-button-hover: #1c6b85;

        // Articles
        --color-article-bkg: rgb(63, 63, 63);
        --color-article-engineer: rgb(115, 199, 67);
        --color-article-guest: rgb(241, 122, 82);
        --color-article-media: #aa360f;
        --color-article-programer: #356b7e;
        --color-article-news: #21b7e9;
        --color-article-default: rgb(146, 146, 146);
        --color-article-use: var(--color-article-default);

        --color-htmlBackground: rgb(48, 48, 48);
        --color-htmlText: rgb(221, 216, 216);
        --color-aNotClicked: rgb(46, 182, 216);
        --color-aHover: rgb(66, 201, 235);
        --color-aClicked: rgb(28, 140, 168);
    }
} */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: var(--color-htmlBackground);
    color: var(--color-htmlText);
}

a {
    color: var(--color-aNotClicked);
}

a:hover {
    color: var(--color-aHover);
}

a:visited {
    color: var(--color-aClicked);
}

*, *:before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
.container {
    margin: 0 auto;
    max-width: 90%;
}
.header-bar {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3rem 0;

    color: var(--color-transparent);
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}
img {
    max-width: 100%;
}
hr {
    width: 100%;
}
/* Utilities */
.section {
    margin: 2rem auto;
}
.section button {
    background-color: var(--main-button);
    color: var(--main-bkg);
    padding: 2rem 5rem 2rem 5rem;
    font-size: 1.4em;
    border: 0;
    border-radius: 1rem;
}
.section button:hover {
    background-color: var(--main-button-hover);
}
.fw-300 {
    font-weight: 300;
    text-align: center;
}
.d-block {
    display: block !important;
}
.centered-content {
    max-width: 800px;
}
.dark-layer {
    background-color: var(--transparent-black-bkg);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.default {
    padding: 5em;
    max-width: 80ch;
    margin: auto;
}
/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
}
.navigation a {
    color: var(--white);
    font-size: 1.8rem;
    margin: 0 1rem;
    text-decoration: none;
    flex-wrap: nowrap;
}
.navigation a:hover {
    color: var(--main-special-blue);
}

/* Hamburger menu */
#header-bar label, #hamburger { display: none; }

/* Footer */
.site-footer {
    background-color: var(--footer);
    margin: 0;
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0;
}
.top-footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}
.copyright {
    color: var(--white);
    margin: 0;
}
.bottom-footer-section {
    padding-top: 1.5rem;
}
.social-icons {
    align-items: center;
    display: flex;
    justify-content: center;
}
.social-icons i {
    color: var(--white);
    font-size: 3rem;
    padding: 0 3rem;
}
/* Header */
.site-header {
    background-color: var(--main-bkg-highlight);
    padding: 1rem 0;
    width: 100%;
}
.header-logo {
    width: 500px;
    max-width: 80%;
}
/* Header - Index */
.site-header.index {
    background-image: url(../media/index-header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
    position: relative;
}
.site-header.normal {
    height: 15rem;
    min-height: 10rem;
    position: relative;
}
.header-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.header-content h1 {
    color: var(--white);
    line-height: 2;
    max-width: 60rem;
    padding: 0 0 2rem;
}
/* Core Disciplines - Index */
.core-disciplines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}
.core-disciplines img {
    flex-basis: calc(60% - 2rem);
    margin-bottom: 5rem;
    max-width: 60%;
}
.discipline-text {
    flex-basis: calc(40% - 5rem);
    margin-left: 0;
    margin-right: 5rem;
    text-align: justify;
}
.discipline-text:nth-child(3) {
    margin-left: 5rem;
    margin-right: 0;
}


/* Blog sections */

.blogSection {
    position: relative;
    background-color: var(--color-article-bkg);
    padding: 10px 50px 10px 5rem;
    border-radius: 2rem;
    overflow: hidden;

    margin-top: 0px;
    margin-bottom: 3rem;
}

.blogSection .date {
    color: var(--color-article-default);

    position: absolute;

    right: 1rem;
    top: 0.1rem;

    margin-top: 0px;
    margin-bottom: 0rem;
}

.blogSection h1{
    color: var(--color-article-use);

    margin-top: 1rem;

    margin-bottom: 1rem;
}

/* pretty */

.blogSection:before {
    content:' ';
    position: absolute;
    width: 3.8rem;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    background-color: var(--color-article-use);
}


#mapid {
    height: 50rem;
    width: 95%;
    margin: auto
}

/* Robot display card */

.robotDesc {
    height: 50rem;
    width: 35rem;

    max-height: 50rem;
    max-width: 35rem;

    position: relative;

    border-radius: 1em;

    overflow: hidden;

    margin: auto;
}

.robotDesc .robotImg {
    position: block;

    overflow: hidden;
	text-align: center;
}

.robotDesc .robotImg img {
	bottom: 0;
	left: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.robotDesc .robotInfo {
    position: absolute;
    color: var(--white);

    width: 100%;

    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;

    bottom: 0;
    left: 0;

    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 1));
}

.flexbox {
    display: flex;
    width: 100%;
}

.flexbox div {
    flex-grow: 1;
    padding: 1rem;
}

.flexbox p {
    padding-left: 2rem;
}

.robotDesc .robotInfo h1{
    font-size: 3rem;

    color: var(--main-special-blue);
}

.robotDesc .robotInfo p{
    font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
    /* BREAK INTO VERTICAL MENU */
    .navigation a {
      box-sizing: border-box;

      display: block;
      width: 100%;
      border-top: 1px solid #333;
      background: var(--main-bkg-highlight);
    }
    /* SHOW HAMBURGER ICON */
    .header-bar label {
      display: block;
      color:var(--white);
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
    .header-bar{
        display: flex;
    }
    .header-logo{
        display: flex;
    }

    /*TODO make flexbox not be flex when screen is small*/

    /* TOGGLE SHOW/HIDE MENU */
    .navigation {
        display: none;
    }
    .header-bar input:checked ~ .navigation {
        display: block;
    }
}
